.createForm{
    background-color: rgb(149, 218, 195);
    width: 50% !important;
    margin-top: 40px;
}

.contactForm{
    background-color: rgb(149, 218, 195);
    width: 30% !important;
    margin-top: 40px;
}