  body {
    background:  rgb(255, 255, 255);
  }
  
  .card {
    background:rgb(127, 213, 247);
    margin-bottom: 2rem;
  }

  filterButton{
    background:  rgb(127, 213, 247);
  }

  .main{
  top: 50%;
  left: 50%;
  transform: translate(10%);

  }